* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #aa3904; */
  /* color: #d38561; */
}

.animationBtn {
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-direction: reverse;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 100px;
    background-color: #fff;
    color: #000;
    top: 0px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}
